.navbar-nav{
	flex-direction: row;
}

.container-fluid{
	padding:0;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .65rem;
    padding-left: .65rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.85);
}