<!DOCTYPE html>
<html>
<body>

<h2> Welcome {{getname}}</h2>
<br>
<p>Roll number: {{getroll}}</p>
<p>Balance: {{getbal}}</p>
    <a href={{url_for('logout')}}>Logout</a>
    <a href={{url_for('pay')}}>Pay</a>
    {%if isadmin %}
    <a href={{url_for('update')}}>Update Balance</a>
    {%endif%}
    <ul>
    {% for item in history %}
    <li>{{item.sender}} paid {{item.amount}} to {{item.receiver}} on {{item.timestamp}}</li>
    {%endfor%}
  </ul>
  <a href="{{url_for('index')}}">home</a>
  <br>
  <a href={{url_for('pay')}}>Pay</a>



</body>
</html>