<html>
<body>

<marquee> <h1> WELCOME TO V-CREDIT </h1> </marquee> 

<br>
{% if logged %}
  	<button type="button" onclick={{url_for('account')}}>Account</button>
  	<br>
		<button type="button" onclick={{url_for('logout')}}>Log out</button> 
		<br>
  	{% else %}
    <button type="button" onclick={{url_for('login')}}>Login</button>
    <br>
		<button type="button" onclick={{url_for('register')}}>Register</button>
		<br> 
    {%endif%}
    <button type="button" onclick={{url_for('pay')}}>Pay</button>
    <br>
    {% if isadmin %}
    	<button type="button" onclick={{url_for('update')}}>Update</button>
    	<br>
    {%endif%}
<hr>

<h3>INSTRUCTIONS:</h3>
<br><br>




</body>
</html>