<html>
<body>

<marquee> <h1> WELCOME TO V-CREDIT </h1> </marquee> 

<br>
{% if logged %}
  	<button type="button" onclick="location.href='{{url_for('account')}}'">Account</button>
  	<br>
  	<br>
		<button type="button" onclick="location.href='{{url_for('logout')}}'">Log out</button> 
		<br>
		<br>
  	{% else %}
    <button type="button" onclick="location.href='{{url_for('login')}}'">Login</button>
    <br>
    <br>
		<button type="button" onclick="location.href='{{url_for('register')}}'">Register</button>
		<br>
		<br> 
    {%endif%}
    <button type="button" onclick="location.href='{{url_for('pay')}}'">Pay</button>
    <br>
    <br>
    {% if isadmin %}
    	<button type="button" onclick="location.href='{{url_for('update')}}'">Update</button>
    	<br>
    	<br>
    {%endif%}
<hr>

<h3>INSTRUCTIONS:</h3>
<br><br>




</body>
</html>