<!DOCTYPE html>
<html>
<body>

<h2> Fill the details to login </h2>
{% if wrong %}
	<h3>Enter valid details</h3>
	{%endif%}
<form action={{url_for('login')}} method="post">
	<label for="roll">Roll Number: </label>
  <input type="text" name="roll" required>
  <br><br>
  <label for="pass">Password: </label>
	<input type="password" name="pass" required>
  <br><br>
  <input type="submit">
</form>
<a href="{{url_for('index')}}">home</a>
		<a href="{{url_for('account')}}">account</a>

</body>
</html>
