<!DOCTYPE html>
<html>
<head>
<!-- setting viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- linking favicon -->
<link rel="shortcut icon" type="image/x-icon" href="https://cdn2.iconfinder.com/data/icons/letters-and-numbers-1/32/lowercase_letter_v_blue-512.png">
<!-- linking bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- linking main css file -->
<link rel="stylesheet" href={{url_for('static', filename='main.css')}}>
<!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<!-- title(tab name) -->
<title>Pay</title>

</head>
<body>
<!-- main container -->
<div class="container-fluid">
  <!-- navigation bar -->
  <nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a href="{{url_for('index')}}" class="navbar-brand">vCredit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('account')}}">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('pay')}}">Pay</a>
        </li>
        <!-- if user is admin -->
        {% if isadmin %}
          <li class="nav-item">
            <a href="{{url_for('update')}}" class="nav-link">Update</a>
          </li>
        {%endif%}
      </ul>
      <ul class="navbar-nav">
        <!-- if the user is logged in -->
        {% if logged %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Sign out</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('register')}}">Register</a>
        </li>
        {%endif%}
      </ul>
    </div>
  </nav>
  <div class="main">
  	<div id="intro">
  		<div class="jumbotron">
				<h1 class="text-center">Payment</h1>
				{% if wrong %}
					<h6 class="text-center">Invalid Information</h6>
				{%endif%}
				{%if insufficient %}
					<h6 class="text-center">Insufficient Funds</h6>
				{%endif%}
				<form action="{{url_for('verify')}}" method="post">
					{% if loggedout %}
					<div class="form-group row">
						<div class="col-xs-5 col-md-5">
							<label for="roll">Your Roll No: </label>
						</div>
						<div class="col-xs-7 col-md-7">
							<input type="text" name="roll" class="form-control" required>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-xs-5 col-md-5">
							<label for="pass">Password: </label>
						</div>
						<div class="col-xs-7 col-md-7">
							<input type="password" name="pass" class="form-control" required>
						</div>
					</div>
					{%endif%}
					<div class="form-group row">
						<div class="col-xs-5 col-md-5">
							<label for="receiver">Pay to: </label>
						</div>
						<div class="col-xs-7 col-md-7">
							<select name="receiver" class="form-control" required>
								<option value="canteen">Canteen</option>
								<option value="stationery">Stationery</option>
								<option value="csi">CSI</option>
								<option value="ieee">IEEE</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-xs-5 col-md-5">
							<label for="amount">Amount: </label>
						</div>
						<div class="col-xs-7 col-md-7">
							<input type="number" name="amount" class="form-control"required>
						</div>
					</div>
					<center>
						<button type="submit" class="btn btn-success">Proceed</button>
					</center>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>