<!DOCTYPE html>
<html>
<body>

<h2> ADMIN's DESK </h2>

<form action="{{url_for('updateverify')}}" method="post">
<label for="roll">Transfer to: </label>
<input type="text" name="roll" required>
<br><br>

<label for="amount">Amount: </label>
<input type="number" name="amount" required>
<br><br>


<label for="pass">Administrator Password: </label>
<input type="password" name="pass" required>
<br><br>

<button type="submit" >Update Balance</button>


</form>

<a href="{{url_for('index')}}">home</a>
<a href="{{url_for('account')}}">account</a>

</body>
</html>


